<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Thông tin chuyến xe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<style>
    #layoutSidenav_nav .nav {
        display: flex;
        flex-direction: column;
        background: black;
    }

    * {
        padding: 0;
        margin: 0;
    }

    a:hover {
        border-radius: 5px;
        border: solid 1px azure;
        font-size: 110%;
    }

</style>
<body class="sb-nav-fixed" style="height:100%">
<div th:include="~{head.html}"></div>

<div class="content d-flex justify-content-start w-100 ">
    <div th:include="~{left.html}"></div>
    <div class="right-content w-75 ml-5 my-5">

        <div th:switch="${mode}">

            <div th:case="MAIN">
                <a class="btn btn-primary mb-4" href="chuyen/them-chuyen" role="button">Thêm chuyến</a>
                <div class="card mb-4 w-100">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên chuyến xe</th>
                                    <th scope="col">Tên xe</th>
                                    <th scope="col">Giá tiền</th>
                                    <th scope="col">Số ghế</th>
                                    <th scope="col">Ngày</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="item : ${chuyens}">
                                    <td th:text="${item.getId()}"></td>
                                    <td th:text="${item.getTuyen().getTentuyen()}"></td>
                                    <td th:text="${item.getXe().getTen()}"></td>
                                    <td th:text="${item.getXe().getLoai().getGia()}"></td>
                                    <td th:text="${item.getXe().getSoghe()}"></td>
                                    <td th:text="${item.getDate()}"></td>
                                    <td class="d-flex justify-content-end">
                                        <div class="btn-toolbar" role="group" aria-label="Basic example">
                                            <a class="btn btn-primary mb-4 mr-4"
                                               th:href="@{/chuyen/sua-chuyen/{id}(id=${item.getId()})}" role="button">Sửa</a>
                                            <a class="btn btn-danger mb-4"
                                               th:href="@{/chuyen/xoa-chuyen/{id}(id=${item.getId()})}" role="button"
                                               onclick="return confirm('Bạn có chắc muốn xóa ?')">Xóa</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div th:case="SUA">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Sửa xe</h1>
                            <form th:action="@{/chuyen/sua-chuyen}" method="post" th:object="${chuyenDTO}">
                                <input th:field="*{id}" hidden/>
                                <input th:field="*{tuyen}" hidden/>
                                <input th:field="*{xe}" hidden/>
                                <div class="form-group">
                                    <label class="control-label">Tên chuyến xe</label>
                                    <input type="text" class="form-control" th:field="*{tenTuyen}"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Tên xe</label>
                                    <input type="text" class="form-control" th:field="*{tenXe}"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Giá tiền</label>
                                    <input type="number" class="form-control"
                                           th:field="*{gia}" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Số ghế</label>
                                    <input type="number" class="form-control" th:field="*{ghe}"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày</label>
                                    <input type="date" class="form-control" th:field="*{date}" required>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success" value="Submit">Sửa</button>
                                <a class="btn btn-danger ml-3" href="back" role="button">Trở về</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:case="THEM">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Thêm chuyến xe</h1>
                            <form th:action="@{/chuyen/them-chuyen}" method="post" th:object="${chuyenDTO}">
                                <div class="form-group">
                                    <label class="form-label">Tuyến xe</label>
                                    <select th:field="*{tuyen}" class="form-control text-secondary" required>
                                        <option th:each="item : ${tuyens}" th:value="${item.getId()}"
                                                th:text="${item.getTentuyen()}" />
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Xe</label>
                                    <select th:field="*{xe}" class="form-control text-secondary" required>
                                        <option th:each="item : ${xes}" th:value="${item.getId()}"
                                                th:text="${item.getTen()}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày</label>
                                    <input type="date" class="form-control" th:field="*{date}" required>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success" value="Submit">Thêm</button>
                                <a class="btn btn-danger ml-3" href="them-chuyen/back" role="button">Trở về</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>