<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Đại lí xe Nhi Oanh</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<body>
<div th:include="~{head.html}"></div>
<span sec:authentication="name"></span>
<span sec:authentication="principal.authorities">Roles</span>
<div sec:authorize="hasAnyAuthority('EMPLOYEE')">
    <a th:href="@{/admin}">Employee</a>
</div>
<div sec:authorize="hasAnyAuthority('ADMIN')">
    <a th:href="@{/admin}">Admin</a>
</div>
<div sec:authorize="hasAnyAuthority('USER')">
    <a th:href="@{/user}">User</a>
</div>

</body>
</html>