<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Chỉnh sửa giá xe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<style>
    #layoutSidenav_nav .nav {
        display: flex;
        flex-direction: column;
        background: black;
    }

    * {
        padding: 0;
        margin: 0;
    }

    a:hover {
        border-radius: 5px;
        border: solid 1px azure;
        font-size: 110%;
    }

</style>
<body class="sb-nav-fixed" style="height:100%">
<div th:include="~{head.html}"></div>

<div class="content d-flex justify-content-start w-100 ">
    <div th:include="~{left.html}"></div>

    <div class="right-content w-75 ml-5 my-5">

        <div th:switch="${mode}">

            <div th:case="MAIN">
                <a class="btn btn-primary mb-4" href="loai/them-loai" role="button">Thêm loại</a>
                <div class="card mb-4 w-100">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên loại</th>
                                    <th scope="col">Giá vé</th>
                                    <th scope="col">Thời gian</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${loais}">
                                    <td th:text="${item.getId()}"></td>
                                    <td th:text="${item.getTen()}"></td>
                                    <td th:text="${item.getGia()}"></td>
                                    <td th:text="${item.getDate()}"></td>
                                    <td class="d-flex justify-content-end">
                                        <div class="btn-toolbar" role="group" aria-label="Basic example">
                                            <a class="btn btn-primary mb-4 mr-4"
                                               th:href="@{/loai/sua-loai/{id}(id=${item.getId()})}"
                                               role="button">Sửa</a>
                                            <a class="btn btn-danger mb-4"
                                               th:href="@{/loai/xoa-loai/{id}(id=${item.getId()})}" role="button"
                                               onclick="return confirm('Bạn có chắc muốn xóa ?')">Xóa</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div th:case="SUA">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Sửa loại</h1>
                            <form th:action="@{/loai/sua-loai}" method="post" th:object="${loai}">
                                <input hidden=""/>
                                <div class="form-group">
                                    <input th:field="*{id}" hidden/>
                                    <input th:field="*{status}" hidden>
                                    <label class="control-label"> Tên loại </label>
                                    <input class="form-control" th:field="*{ten}"
                                           required autofocus="autofocus"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Giá</label>
                                    <input type="number" class="form-control" th:field="*{gia}" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày</label>
                                    <input type="date" class="form-control" th:field="*{date}" required/>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success" value="Submit">Sửa</button>
                                <a class="btn btn-danger" href="back" role="button">Trở về</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:case="THEM">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Thêm loại</h1>
                            <form th:action="@{/loai/them-loai}" method="post" th:object="${loai}">
                                <div class="form-group">
                                    <label class="control-label"> Tên loại</label>
                                    <input class="form-control" th:field="*{ten}" required autofocus="autofocus"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Giá</label>
                                    <input type="number" class="form-control" th:field="*{gia}"
                                           required autofocus="autofocus"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày</label>
                                    <input type="date" class="form-control" th:field="*{date}" required>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success" value="Submit">Thêm</button>
                                <a class="btn btn-danger" href="them-loai/back" role="button">Trở về</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>

