<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<style>
    #layoutSidenav_nav .nav {
        display: flex;
        flex-direction: column;
        background: black;
    }

    * {
        padding: 0;
        margin: 0;
    }
</style>
<body class="sb-nav-fixed" style="height:100%">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="dist/index.html">Nhi Oanh</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="KhachHang/login.html">Đăng xuất</a>
            </div>
        </li>
    </ul>
</nav>
<div class="content d-flex justify-content-start w-100 ">
    <div class="left-content bg-dark" style="height:800px; width:300px">
        <nav class="navbar bg-dark navbar-dark" style="width:100%;">
            <ul class="navbar-nav flex-column">
                <li class="nav-item active p-4">
                    <a class="nav-link  " th:href="@{/user}">
                        <i class="fas fa-tachometer-alt"></i> Trang chủ
                    </a>
                </li>
                <li class="nav-item active p-4">
                    <a class="nav-link" th:href="@{/tuyen}">
                        <i class="fas fa-chart-area"></i>
                        Thông tin tuyến xe
                    </a>
                </li>
                <li class="nav-item active p-4">
                    <a class="nav-link  " th:href="@{/ve}">
                        <i class="fas fa-table"></i>
                        Thông tin vé
                    </a>
                </li>
                <li class="nav-item active p-4">

                    <a class="nav-link  " th:href="@{/chuyen}">
                        <i class="fas fa-table"></i>
                        Thông tin chuyến xe
                    </a>
                </li>
                <li class="nav-item active p-4">
                    <a class="nav-link" th:href="@{/loai}">
                        <i class="fas fa-table"></i>
                        Thiết lập giá vé
                    </a>
                </li>
                <li class="nav-item active p-4">
                    <a class="nav-link" th:href="@{/xe}">
                        <i class="fas fa-table"></i>
                        Thông tin xe
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="right-content w-75 ml-5 my-5">

    </div>
</div>

</body>
</html>
